<div class="main-title">
	<h1>Flickr Public Feed</h1>
	<p>Using Marionette.js and Browserify. <a href="https://github.com/jpavon/flickr-public-feed">Github Repo</a>.</p>
</div>

<main id="main" class="main" role="main"></main>
